<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bppaysiso">
            <h2><span>Bppaysiso</span> {{ bppaysiso.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Bqe</span></dt>
                <dd>
                    <span>{{ bppaysiso.codeBqe }}</span>
                </dd>
                <dt><span>Code Cb</span></dt>
                <dd>
                    <span>{{ bppaysiso.codeCb }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ bppaysiso.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bppaysiso', bppaysiso.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
