<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objetCredit">
            <h2><span>Objet Credit</span> {{ objetCredit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Bdu</span></dt>
                <dd>
                    <span>{{ objetCredit.codeBdu }}</span>
                </dd>
                <dt><span>Code Cb</span></dt>
                <dd>
                    <span>{{ objetCredit.codeCb }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ objetCredit.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objet-credit', objetCredit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
