<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chargement">
            <h2><span>Chargement</span> {{ chargement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Files Infos</span></dt>
                <dd>
                    <div *ngIf="chargement.filesInfos">
                        <a [routerLink]="['/files-infos', chargement.filesInfos?.id, 'view']">{{ chargement.filesInfos?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chargement', chargement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
