<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="natureDebiteur">
            <h2><span>Nature Debiteur</span> {{ natureDebiteur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code Bdu</span></dt>
                <dd>
                    <span>{{ natureDebiteur.codeBdu }}</span>
                </dd>
                <dt><span>Code Cb</span></dt>
                <dd>
                    <span>{{ natureDebiteur.codeCb }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ natureDebiteur.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nature-debiteur', natureDebiteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
