<div>
    <div class="col-8">
        
        <form name="editForm" role="form" novalidate (ngSubmit)="generate()" #editForm="ngForm">
            <!-- <img *ngIf="isLoading"  src="../../../content/images/loading.gif" style="align-content: center;"/> -->
            <div class="row">
                <div class="col">
                    <select [(ngModel)]="fileInfo"  name="fileInfo" id="fileInfo" 
                        class="form-control" required>
                        <!-- <option [ngValue]="" selected>Code Fichier</option> -->
                            <option *ngFor="let p of filesInfos; let i = index" [ngValue]="p" selected>
                              {{p.codeFile}}
                            </option>
                          </select>
                </div>
                
                <div class="col">
                    <div class="col">
                        <select [(ngModel)]="periode"  name="paysDestination" id="paysDestination" 
                        class="form-control" required>
                        <option [ngValue]="" selected>Périodicité</option>
                            <option *ngFor="let p of periodes; let i = index" [ngValue]="p" >
                              {{p.code}}
                            </option>
                          </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">                
                <div class="col">
                    <input type="date" class="form-control" name="dateFin2" [(ngModel)]="dateGen"  required/>
                </div>
                <div class="col">
                    <input type="text"  name="version" id="version" [(ngModel)]="version"
                    placeholder="Version" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                <!-- <button type="submit"  class="btn btn-primary" style="align-content:right;"
                [disabled]="!editForm.valid">
                    <span class="fa fa-search"></span>&nbsp;<span >Générer Balance Paiement</span>
                </button> -->
                </div>
                
            </div>
            <h2 id="page-heading">
            <button type="submit" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chargement" >
                <fa-icon icon="plus"></fa-icon>
                <span>
                    Générer Condition Banque
                </span>
            </button>
            </h2>
        </form>
    </div>
    <h2 id="page-heading">
        <!-- <span>Chargements</span> -->

        
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <!-- <div class="alert alert-warning" id="no-result" *ngIf="chargements?.length === 0">
        <span>No chargements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="chargements && chargements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filesInfos.id"><span>Files Infos</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chargement of chargements ;trackBy: trackId">
                    <td><a [routerLink]="['/chargement', chargement.id, 'view']">{{ chargement.id }}</a></td>
                    <td>
                        <div *ngIf="chargement.filesInfos">
                            <a [routerLink]="['/files-infos', chargement.filesInfos?.id, 'view']" >{{ chargement.filesInfos?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/chargement', chargement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/chargement', chargement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(chargement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="chargements && chargements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div> -->
</div>
