<div>
    <h2 id="page-heading">
        <span>Bdu Depots</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bdu-depot" [routerLink]="['/bdu-depot/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Bdu Depot
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bduDepots?.length === 0">
        <span>No bduDepots found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bduDepots && bduDepots.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numEnreg"><span>Num Enreg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="natureDepot"><span>Nature Depot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paysResidence"><span>Pays Residence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ville"><span>Ville</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="natureDeposant"><span>Nature Deposant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statutJuridique"><span>Statut Juridique</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexeDeposant"><span>Sexe Deposant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="secteurActivite"><span>Secteur Activite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tailleEntreprise"><span>Taille Entreprise</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDepot"><span>Date Depot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="termeDepot"><span>Terme Depot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantDepot"><span>Montant Depot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tauxRenumeration"><span>Taux Renumeration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bduDepot of bduDepots ;trackBy: trackId">
                    <td><a [routerLink]="['/bdu-depot', bduDepot.id, 'view']">{{ bduDepot.id }}</a></td>
                    <td>{{ bduDepot.code }}</td>
                    <td>{{ bduDepot.numEnreg }}</td>
                    <td>{{ bduDepot.natureDepot }}</td>
                    <td>{{ bduDepot.paysResidence }}</td>
                    <td>{{ bduDepot.ville }}</td>
                    <td>{{ bduDepot.natureDeposant }}</td>
                    <td>{{ bduDepot.statutJuridique }}</td>
                    <td>{{ bduDepot.sexeDeposant }}</td>
                    <td>{{ bduDepot.secteurActivite }}</td>
                    <td>{{ bduDepot.tailleEntreprise }}</td>
                    <td>{{ bduDepot.dateDepot | date:'mediumDate' }}</td>
                    <td>{{ bduDepot.termeDepot }}</td>
                    <td>{{ bduDepot.montantDepot }}</td>
                    <td>{{ bduDepot.tauxRenumeration }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bdu-depot', bduDepot.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bdu-depot', bduDepot.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bduDepot)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bduDepots && bduDepots.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
