<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bdu-effet-heading">Create or edit a Bdu Effet</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numEnreg">Num Enreg</label>
                    <input type="text" class="form-control" name="numEnreg" id="field_numEnreg"
                           formControlName="numEnreg"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_natureDeposant">Nature Deposant</label>
                    <input type="number" class="form-control" name="natureDeposant" id="field_natureDeposant"
                           formControlName="natureDeposant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paysResidence">Pays Residence</label>
                    <input type="number" class="form-control" name="paysResidence" id="field_paysResidence"
                           formControlName="paysResidence"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ville">Ville</label>
                    <input type="number" class="form-control" name="ville" id="field_ville"
                           formControlName="ville"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_montantEffet">Montant Effet</label>
                    <input type="number" class="form-control" name="montantEffet" id="field_montantEffet"
                           formControlName="montantEffet"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateEscompte">Date Escompte</label>
                    <div class="input-group">
                        <input id="field_dateEscompte" type="text" class="form-control" name="dateEscompte" ngbDatepicker #dateEscompteDp="ngbDatepicker" formControlName="dateEscompte"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEscompteDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateEcheance">Date Echeance</label>
                    <div class="input-group">
                        <input id="field_dateEcheance" type="text" class="form-control" name="dateEcheance" ngbDatepicker #dateEcheanceDp="ngbDatepicker" formControlName="dateEcheance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEcheanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nbreJours">Nbre Jours</label>
                    <input type="number" class="form-control" name="nbreJours" id="field_nbreJours"
                           formControlName="nbreJours"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tauxInteret">Taux Interet</label>
                    <input type="number" class="form-control" name="tauxInteret" id="field_tauxInteret"
                           formControlName="tauxInteret"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_montantCharges">Montant Charges</label>
                    <input type="number" class="form-control" name="montantCharges" id="field_montantCharges"
                           formControlName="montantCharges"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
