<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h2 style="font-weight: bold;">DECLARATION DES ETATS REGLEMENTAIRES DE LA SOCIETE GENERALE</h2>

        <div class="jumbotron" style="background-color: yellow;padding: 0.5rem 0.5rem;margin-bottom: 0.5rem">
            <h4>DECLARATION DES BALANCES DE PAIEMENT </h4>
            <p align="justify">Dispositif d’élaboration de la balance de paiements en termes de règlement tel que recommandé par la banque centrale dans la nouvelle règlementation :
                <br>BP1 : Déclaration des mouvements en compte de correspondants étrangers
                <br>BP2 : Déclaration de l’Etat des soldes en monnaie étrangers figurant à la situation de la banque déclarante
                <br>BP3 : Déclaration des Achats et ventes de change manuel
                <br>BP4 : Déclaration de l’utilisation des cartes bancaires pour les résidents UEMOA à l'étranger et des non-résidents dans l'UEMOA 
                <br>CRP : Déclaration des Comptes rendus de paiement
                <br>ATR : Déclaration des Avis de transferts reçus
            </p>
          </div>
          <div class="jumbotron" style="background-color: aqua;padding: 0.5rem 0.5rem;margin-bottom: 0.5rem">
            <h4>DECLARATION DES CONDITIONS DE BANQUE</h4>
            <p align="justify">Dispositif d’automatisation de la collecte des données sur les conditions de banques via la plateforme de reporting de la Banque Centrale:
                <br>Déclaration des Crédits, escomptes, dépôts.
                <br>Déclaration des Autorisations de découvert.
                </p>
          </div>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account">Vous êtes connecté en tant que:  "{{ account.login }}".</span>
            </div>

            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div> -->

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous n'avez pas encore de compte?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Creer un nouveau comte</a>
            </div>
        </div>

        <!-- <p>
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a></li>
            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a></li>
            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li>
            <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
        </ul>

        <p>
            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
        </p> -->
    </div>
</div>
